body, html{
  height: 100%;
  width: auto;  
}

.container{
    height: 60%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.input{ 
    border-radius: 3px;
    padding: auto;
    margin: 20px;
    width: 200px;
    height: 40px;
    color: grey;
    border: 0px;
    background-color: rgb(180, 180, 180);

}

.button{
    border-radius: 3px;
    width: 200px;
    height: 40px;
    color: white;
    border: 0px;
}

ul {
    list-style-type: none;
    padding: 0;
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}

ul li {
    font-size: 20px;
    background-color: #FFFDF8;
    padding: 15px;
    border-radius: 8px;
    flex-grow: 1;
    text-align: center;
    box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.2)
}